@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/fab/mdc-fab";
@import "@material/typography/mdc-typography";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}